:root {
  --font-family: "Lato", sans-serif;
  --font-monterrat: "Montserrat", sans-serif;

  /*Deep blue*/
  --deep-blue-100: #14202b;
  --deep-blue-200: #061421;
  --deep-blue-300: #040910;

  /*Medium blue*/
  --medium-blue-100: #3a4c5e;
  --medium-blue-200: #2c4052;
  --medium-blue-300: #1f3444;
  --medium-blue-400: #0e1d28;

  /*Light blue*/
  --light-blue-50: #dfebf5;
  --light-blue-100: #c1d4e5;
  --light-blue-200: #a1bcd3;

  /*Neon blue*/
  --neon-blue-100: #528fcc;

  /*Light purple*/
  --light-purple-25: #eef0f2;
  --light-purple-50: #99abc2;
  --light-purple-100: #748cab;

  /*Light yellow blue*/
  --light-yellow-100: #ffd699;
  --light-yellow-200: #ffba55;

  /*Red*/
  --light-red-100: #fa3f3f;
  --light-red-200: #922121;
  --deep-red-400: #460404;

  /*Other colors*/
  --black: #000;
  --white: #fff;
  --deep-orange: #d87029;
  --disabled: #808080;
}
